
<style>
	.tabcontainer{
		height: 1px;
		min-height: 100%;
	}
	.tabscroll{
		height: 1px;
		min-height: 100%;
		overflow: auto;	
	}	

</style>
<script src="/js/homepageRouter.js"></script>
<link rel="stylesheet" href="/css/atlas.css">
</head>
<body>



		<div id="maplist_div" class="maplist my1 invisinle datatable"> 
  <div id="rastrlist"></div> 
 
</div> 
 
 
 
<div id="geo-coder-dialog" class="" style="display:none"> 
	<div class="row"> 
		<div class="col-12"> 
			<input id="geo-address" type="text" value="" style=" float: left;"/>		 
			<button id="geo-coder" class="btn"><i class="icon-search"></i></button> 
		</div> 
	</div> 
	<div class="row"> 
		<div class="col-12"> 
			<ul class="nav nav-tabs" id="dg-objects-list" style="max-height: 250px; overflow: auto;"></ul> 
		</div> 
	</div>	 
</div> 


	

	<div class="homepagecontainer">
		<div id="adminMenu" class="nav-collapse collapse amenu" style="display: none;">
			<ul id='admin-menu' class='nav nav-pills admin'><li id='admin-core-scheduler-menu-item' class='admin-menu-item'><a href='/scheduler' title='Manage scheduled jobs ...' class=' admin-menu-link'>Scheduled Jobs</a><ul><li id='admin-core-scheduler-menu-item' class='admin-menu-item'><a href='/scheduler' title='Manage scheduled jobs ...' class=' admin-menu-link'>Scheduled Jobs</a><ul><li id='admin-core-scheduler-menu-item' class='admin-menu-item'><a href='/scheduler' title='Manage scheduled jobs ...' class=' admin-menu-link'>Scheduled Jobs</a></li></li></ul></li></ul></ul>

			<ul id='primary-menu' class='nav nav-pills primary'><li id='About project-menu-item' class='primary-menu-item'><a href='/section/About project' title='Link ...' class=' primary-menu-link'>About project</a><ul><li id='About project-Acknowledgments-menu-item' class='primary-menu-item'><a href='/section/About project/Acknowledgments' title='Link ...' class=' primary-menu-link'>About project/Acknowledgments</a></li><li id='About project-Collaborators-menu-item' class='primary-menu-item'><a href='/section/About project/Collaborators' title='Link ...' class=' primary-menu-link'>About project/Collaborators</a></li><li id='About project-Developers-menu-item' class='primary-menu-item'><a href='/section/About project/Developers' title='Link ...' class=' primary-menu-link'>About project/Developers</a></li><li id='About project-Goals-menu-item' class='primary-menu-item'><a href='/section/About project/Goals' title='Link ...' class=' primary-menu-link'>About project/Goals</a></li></li></ul><li id='Documentation-menu-item' class='primary-menu-item'><a href='/section/Documentation' title='Link ...' class=' primary-menu-link'>Documentation</a><ul><li id='Documentation-Tables-menu-item' class='primary-menu-item'><a href='/section/Documentation/Tables' title='Link ...' class=' primary-menu-link'>Documentation/Tables</a></li><li id='Documentation-WPS-menu-item' class='primary-menu-item'><a href='/section/Documentation/WPS' title='Link ...' class=' primary-menu-link'>Documentation/WPS</a></li></li></ul></ul>

		</div>
		


		<div id="mapcontainer" class="row" style="height: 100%;">
			<div class="col-12">
				
<div id="wps-manager-dialog" title="WPS Manager Quick Launch" style="display: none;">
<ul class="nav nav-pills">
	<li><a href="/wpsmanager/create" target="_blank"><i class="icon-share"></i>Register WPS service / create scenario</a></li>
	 <li class="divider"></li>
	<li><a href="/managetable?id=1019" target="_blank"><i class="icon-share"></i>Services execution history</a></li>
</ul>

<div class="wpsmanagerworkplace">
	here goes the fetched data
</div>
</div>

<div id="map" class="map"></div>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-59486916-1', 'auto');
ga('send', 'pageview');

</script>
			</div>
		</div>
		
		<div class="bodycontainer row" style="height: 0%;">
			<div class="col-12">
				<div id="changebodycontainerheight" class="dragbar">
				
				</div>
		
				<div id="tabs-lc" class="alltabcontainer">
					<div class="maptblbuttons" role="group">
						<button type="button" class="btn btn-group-sm" id="fullsize"><i class="fas fa-table"></i></button>
						<button type="button" class="btn btn-group-sm" id="minimize"><i class="fas fa-globe"></i></button>
						<button type="button" class="btn btn-group-sm" id="medium"><i class="fas fa-globe"></i> | <i class="fas fa-table"></i></button>
					</div>
					<ul class="nav nav-tabs" id="map-tabs"></ul>
				</div>						
		
			</div>
		</div>
	</div>
	
<!-- Page-specific script -->
<script type="text/javascript">
$( "#layer_tabs" ).tabs();	
var tablist;

var strmaps="\
<div class='rmain' title='Map'>\
	<div class='' id='mtabs'>\
		<ul class='nav nav-tabs' id='rasterTab'>\
			<li><a class='active' href='#rmap'>Карта</a></li>\
			<li id='alegend'><a href='#rlegend'>Легенда</a></li>\
			<li id='afiles'><a href='#rfiles'>Текст</a></li>\
		</ul>\
		<div id='rmap'></div>\
		<div id='rlegend'></div>\
		<div id='rfiles'><ul id='ufiles'></ul></div>\
	</div>\
</div>";
function viewRastrMaps(container,section){
	$.ajax({
	url: '/dataset/list?f=2158&iDisplayStart=0&iDisplayLength=1200&iSortingCols=2&sort=[{"fieldname":"weight","dir":true}]',
	dataType: "json",					
	method: "POST",
	success: function(data) {
			var mapitem=$('<div class="mapsection"><h4>Экологический атлас Байкальского региона</h4></div>');
			container.append(mapitem);					
						
			var sectionname='';
			for (var i = 0; i < data.aaData.length; i++) {
				if(sectionname!=data.aaData[i].section){
					sectionname=data.aaData[i].section;
					if(sectionname==null){
						var mapitem=$('<div class="mapsection"><h5>Другие</h5></div>');
						container.append(mapitem);					
					}
					else{
						var mapitem=$('<div class="mapsection"><h5>'+sectionname+'</h5></div>');
						container.append(mapitem);
					}
					
				}
				var mapitem=$('<div class="mapitem"></div>');					
				mapitem.data('doc', data.aaData[i]);
				mapitem.html( data.aaData[i].title);					
				mapitem.click(function(){
					aData=$(this).data('doc');						
					var rmap=$(strmaps);						
					if(aData.map){
						var files=aData.map.split(';');	
						if(files.length>0){								
							for (i=0; i < files.length; i++) {
								s=files[i].split('###');
								if(s!=undefined && s.length>0 ){
									p='';
									n='';
									user_id='';
									if(s.length==2){
										p=s[0];
										n=s[1];
									}
									else if (s.length==3){
										p=s[1];
										n=s[2];
										user_id=s[0];						
									}
									else
										continue;
									
									link='/dataset/file?f=2158&row_id='+aData.id+'&fieldname=map&filehesh='+p+'&userid='+user_id;										
									res='<img title="'+n+'"  src="'+link+'" />';
									$('#rmap',rmap).append($(res));
								}
							}
						}
					}
					if(aData.legend){
						var files=aData.legend.split(';');	
						if(files.length>0){								
							for (i=0; i < files.length; i++) {
								s=files[i].split('###');
								if(s!=undefined && s.length>0 ){
									p='';
									n='';
									user_id='';
									if(s.length==2){
										p=s[0];
										n=s[1];
									}
									else if (s.length==3){
										p=s[1];
										n=s[2];
										user_id=s[0];						
									}
									else
										continue;
									
									link='/dataset/file?f=2158&row_id='+aData.id+'&fieldname=legend&filehesh='+p+'&userid='+user_id;										
									fullpath=getpath(p);
									ext=fullpath.substring(fullpath.lastIndexOf('.')+1, fullpath.length);
									ext=ext.toUpperCase();
									if(ext=='PDF' || ext=='DOC'  || ext=='DOCX'){
										if(n=='')
											n='file '+(i+1);
										res='<a target="_blank" href="'+link+'">'+n+'</a>';
										$('#rlegend',rmap).append($(res));
									}
									else{											
										res='<img title="'+n+'"  src="'+link+'" />';
										$('#rlegend',rmap).append($(res));
									}
								}
							}
						}
					}
					else{
						$('#alegend',rmap).hide();
					}
					if(aData.files){
						var files=aData.files.split(';');	
						if(files.length>0){								
							for (i=0; i < files.length; i++) {
								s=files[i].split('###');
								if(s!=undefined && s.length>0 ){
									p='';
									n='';
									user_id='';
									if(s.length==2){
										p=s[0];
										n=s[1];
									}
									else if (s.length==3){
										p=s[1];
										n=s[2];
										user_id=s[0];						
									}
									else
										continue;
									if(n=='')
										n='file';
									link='/dataset/file?f=2158&row_id='+aData.id+'&fieldname=files&filehesh='+p+'&userid='+user_id;										
									res='<li><a target="_blank" href="'+link+'" >'+n+'</a></li>';
									$('#ufiles',rmap).append($(res));
								}
							}
						}
					}
					else{
						$('#afiles',rmap).hide();
					}
					$('#mtabs',rmap).tabs().tabs( "option", "active", 0 );
					
					rmap.dialog({
						  resizable: true,
						  height: $(window).height() ,
						  width: "100%",
						  modal: true,
						  buttons: {
							"Закрыть": function() {								
								$( this ).dialog( "destroy" );						
								rmap.remove();
							}
						  }
					});
					rmap.dialog( "option", "title", aData.title );						
					
					$('#rasterTab a', rmap).click(function(){
						$('.tab-pane', rmap).hide();
						sid=$(this).attr('href');
						$(sid, rmap).show();
					  
					});
				});
				container.append(mapitem);					
			}
		}
	});
}

function init_page(){	

	//$('#alegend_div').trigger('click');		
	//require(['map_scripts'], function(u) {			
		//require(['wpslauncher'], function(u) {
			baselayers={google_satellite:true, google_roadmap:false, yandex:true, gis2: true, bing:true, osm:true, cadastr:false};
				drawMap('map',baselayers);
				//smart_i=new atlas_legend(1);					
				
//		m={"name":"Экономическая карта", "layerlist":[{"id":1903, "name":"Районы"}, {"id":1900, "name":"Реки"}, {"id":1899, "name":"Водоемы"}, {"id":1898, "name":"Государственная граница"}, {"id":1897, "name":"Границы субъектов"}]};
//		viewmap(m);
	
	if(window.createDataTable===undefined)
		return;
		
	var maplist_div=$('#maplist_div');	
	//createDataTable(2, maplist_div);
	
	
	
	ViewMapList(maplist_div,'')
	
	//viewRastrMaps($('#rastrlist'),'');
	var maplist=L.div_Button('fas fa-atlas', 'Карты', $('#maplist_div'));
	map.addControl(maplist);
	maplist._toggle();
	/*
	var legend=$('#legend_div');
	createDataTable(100, legend, undefined, undefined, {});		
	tablist=L.div_Button('fas fa-table', 'Tables', $('#legend_div'));
	map.addControl(tablist);
	*/
	
	tablist = L.easyButton("tableselect", 'fas fa-table', function() {
		// maplist._toggle();
			getdatasetmeta(100, function(error, table_json){
				if(error!=null)
					return;
				table_json.metaid = 100;			
				
				var selectDlg=$('<div class="subtab" title="Table view" ></div>');

				var subtab=selectDlg;//$('.subtab',selectDlg);

				selectDlg.dialog({
					resizable: true,
					height: '750',
					width: '1000',
					modal: true,
					buttons: {
						"Close": function () {				
							$(this).dialog("close");						
						}
					}
				});
				
				function SetVal(row){						
					doc=row.data('doc');						
					createDataTable(doc.id, undefined, undefined, undefined, {});						
					selectDlg.dialog("close");
					selectDlg.remove();						
				}

				
				
				var sAjaxSource = "/dataset/list?f=100&count_rows=true";
				gtable = new gdataset(table_json, 100, subtab, sAjaxSource, undefined, false);
				gtable.drawtablehead();
				gtable.row_on_page_count=7;
				gtable._fnReDraw();
				gtable.rowselect.push(SetVal);					
				var tr = $('#dt_fltr', subtab);			
				tr.show("slow");
			});

		
		}, 'Select table'
	);

	
	
	var user_list=$('<div></div>').appendTo( $( "body" ) ).hide();					
	
	mcolumns=[];
	field={"fieldname":"id","title":"id","description":"id","visible":false,"type":"number","widget":{"name":"hidden","properties":{"size":"20"}}};
	mcolumns.push(field);			
	field={"fieldname":"username","title":"username","description":"username","visible":true,"type":"string","widget":{"name":"user","properties":{"size":"20"}}};
	mcolumns.push(field);				
	field={"fieldname":"fullname","title":"fullname","description":"fullname","visible":true,"type":"string","widget":{"name":"edit","properties":{"size":"20"}}};
	mcolumns.push(field);	
	field={"fieldname":"email","title":"email","description":"email","visible":true,"type":"string","widget":{"name":"edit","properties":{"size":"20"}}};
	mcolumns.push(field);			
	metafile={dataset_id:'-2', "tablename":'user list', "title":"user list","columns":mcolumns, "rights":'0000'};
	
	var sAjaxSource="/user_list/list?";
	ThemeDT = new gdataset(metafile, -2, user_list, sAjaxSource);
	datasets.push(ThemeDT);
	
	user_list_btn=L.div_Button('fas fa-users', 'User list', user_list);
	map.addControl(user_list_btn);
		
		
	
	
	var user=new gp_user();
	
	var search_panel=L.div_Button('fas fa-search', 'Search by address, toponym', $('#geo-coder-dialog'));
	map.addControl(search_panel);
	
	var logout_panel = L.easyButton("mapbutton_logout", 'fas fa-sign-out-alt', function() {
		document.location.href = '/users/logout';
		
		}, 'Log out'
	);
	var login_panel = L.easyButton("mapbutton_login", 'fas fa-sign-in-alt', function() {
		var login_form=$('<div id="login_form" title="Login form">\
			<ul class="nav">\
				<li class="nav-item">\
					<a href="#" id="loginview" class="nav-link active">Login</a>\
				</li>\
				<li class="nav-item">\
					<a href="#" id="recoveryview" class="nav-link">Forgot password</a>\
				</li>\
				<li class="nav-item">\
					<a href="#" id="regview" class="nav-link">Registration</a>\
				</li>\
			</ul>\
			<div id="login_form-message" class="mb-2 alert alert-danger" style="display:none"></div>\
			<div id="login_form-message" class="mb-2 alert alert-success" style="display:none"></div>\
			<form id="login_form" class="form-inline" action="#" method="post">\
				<div class="form-group mb-2">\
					<label for="staticEmail2" class="sr-only">Login</label>\
					<input type="text" id="username" class="form-control" placeholder="Login" required>\
				</div>\
				<div class="form-group mx-sm-3 mb-2">\
					<label for="password" class="sr-only">Password</label>\
					<input type="password" class="form-control" id="password" placeholder="Password">\
				</div>\
				<button type="button" id="login_submit" class="btn btn-default mb-2">Отправить</button>\
			</form>\
			<form id="reg-form" name="login-form" class="login" method="GET" enctype="multipart/form-data" style="display:none">\
				<div id="reg_fields"></div>\
				<div class="actions"><button class="btn btn-secondary lang" id="regbtn">Register</button></div>\
			</form>\
			<form id="recovery-form" name="login-form" class="login" method="GET" enctype="multipart/form-data" style="display:none">\
				<div class="form-group mb-2">\
					<label for="recemail" class="sr-only">Email</label>\
					<input type="text" id="recemail" class="form-control" placeholder="Email" required>\
				</div>\
				<div class="actions"><button class="btn btn-secondary lang" id="recovery_submit">Recovery</button></div>\
			</form>\
		</div>');
		login_form.dialog({
			width: 650,
			position: { my: "top", at: "top" }
		});
		$('#loginview', login_form).click(function(){
			$('form', login_form).hide();
			$('#login_form', login_form).show();
		});		

		$('#recoveryview', login_form).click(function(){
			$('form', login_form).hide();
			$('#recovery-form', login_form).show();
		});
		$('#regview', login_form).click(function(){
			$('form', login_form).hide();
			$('#reg-form', login_form).show();
		});
		user.recovery_password(login_form);

		user.register(login_form, $('#reg_fields', login_form))


		//$('body').append(login_form);
		user.loginform(login_form, function(){
				updatemenu();
				login_form.dialog( "destroy" );
			});
		}, 'Log in'
	);

	var WPSpanel = L.easyButton("mapbutton_wpsmanager", 'fas fa-calculator', function() {
				// require(['wpslauncher']);
				createDataTable(185, null);
			}, 'WPS Manager'
		);		
	var mainMenu=L.div_Button('fas fa-ellipsis-h', 'Menu', $('#adminMenu'));
	map.addControl(mainMenu);
	$(mainMenu._container).attr('id', 'menudialogbutton');

			
	var smart_i = new map_info(1);
	var info_panel=L.div_Button( 'fas fa-info' , 'Информация' , $('#smart_content'), smart_i.activate );
	map.addControl(info_panel);
	translate('rus');

	function updatemenu(){
		//tablist.visible(user.username!==undefined);			
		if(user.username!==undefined)
			$('#tableselect').show();
		else
			$('#tableselect').hide();
		user_list_btn.visible(user.isAdmin);


		if (user.username){
			$('#mapbutton_wpsmanager').show();
			$('#mapbutton_login').hide();
			$('#mapbutton_logout').show();
			$('#menudialogbutton').show();
			$('.leaflet-control-layers-loadbase').show();
		}
		else{
			$('#mapbutton_wpsmanager').hide();
			$('#mapbutton_login').show();
			$('#mapbutton_logout').hide();
			$('#menudialogbutton').hide();
			$('.leaflet-control-layers-loadbase').hide();
		}

	}

	updatemenu();
	updateMapstate()
}

init_page()
</script>

<div style="display: none;" id="smart_content">
	<div id="smart_content_body"></div>
		
</div>


</body>
</html>