
			<script src="/js/jquery.arcticmodal-0.3.min.js"></script>
	</head>
	<body>
	<header class="main-header">
		<div class="wrapper">
			<div class="container">
				<nav class="main-navigation">
					<a class="main-logo">
						<img src="/images/crislogo.png" width="170" height="61" alt="CRIS logo">
					</a>
					<ul class="main-menu nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active mapsearch" data-toggle="collapse" href=".start" role="button">Main</a>
						</li>					
						<li class="nav-item">
							<a class="nav-link mapsearch" data-parent=".cris_content" data-toggle="collapse" href=".news" role="button">News</a>
						</li>
						<li class="nav-item">
							<a class="nav-link mapsearch" data-parent=".cris_content" data-toggle="collapse" href="2188" role="button">Species Search</a>
						</li>

											

						<li class="nav-item dropdown" id="specimens" style="display:none">
							<a class="nav-link" data-toggle="dropdown"  href="#profile" role="button">
								Specimens
							</a>
							<div class="dropdown-menu crisspecimen">
								
							</div>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link" data-toggle="dropdown"  href="#profile" role="button">
								Terms
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item mapsearch" data-parent=".cris_content" data-toggle="collapse" href=".taxonomy" role="button">Taxonomy</a>
								<a class="dropdown-item mapsearch" data-parent=".cris_content" data-toggle="collapse" href=".researchers" role="button">Researchers</a>
								<a class="dropdown-item mapsearch" data-parent=".cris_content" data-toggle="collapse" href=".alltables" role="button">All tables</a>							
							</div>
						</li>
						<li class="nav-item">
							<a href="#"  data-target="groups">Groups</a>
						</li>
					
						<li class="nav-item dropdown">
							<a class="nav-link" data-toggle="dropdown"  href="#profile" role="button">
								Profile
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item login-btn mapsearch" data-parent=".cris_content" data-toggle="collapse" href=".loginform" data-target="#" role="button">
									<img src="/images/crislogin.svg" alt="">
									Login
								</a>
								<a class="dropdown-item reg-btn mapsearch" data-parent=".cris_content" data-toggle="collapse" href=".reg_form" data-target="#" role="button">
									<img src="/images/crislogin.svg" alt="">
									Registration
								</a>
								<a class="dropdown-item recovery-btn mapsearch" data-parent=".cris_content" data-toggle="collapse" href=".recovery_form" data-target="#" role="button">
									<img src="/images/crislogin.svg" alt="">
									Recovery password
								</a>								
								<a class="dropdown-item logout-btn" href="/user/logout?returnto=/" data-target="#" role="button">
										<img src="/images/crislogin.svg" alt="">
										Logout
								</a>
								<a class="dropdown-item users-btn mapsearch" data-parent=".cris_content" data-toggle="collapse" href=".musers" role="button">
									Users
								</a>
								<a class="dropdown-item users-profile mapsearch" href=".profile" data-parent=".cris_content" data-toggle="collapse" role="button">									
									View profile
								</a>
								
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>	
	</header>

	
	<div id="mapcontainer" class="" style="display: none" title="Map">				
		<div id="wps-manager-dialog" title="WPS Manager Quick Launch" style="display: none;">
			<ul class="nav nav-pills">
				<li><a href="/wpsmanager/create" target="_blank"><i class="icon-share"></i>Register WPS service / create scenario</a></li>
				 <li class="divider"></li>
				<li><a href="/managetable?id=1019" target="_blank"><i class="icon-share"></i>Services execution history</a></li>
			</ul>
		
			<div class="wpsmanagerworkplace">
				here goes the fetched data
			</div>
		</div>
		
		<div id="map" class="map"></div>
		
	</div>
	
	 <div class="cris_content accordion">
	  	
			<div class="collapse start show"  data-parent=".cris_content">	
				<main>
						<section class="collapse first-look">
								<div class="container">
									<h1>Cryptogamic Russian Information System</h1>
									<p>CRIS is the on-line information system, which cataloging biodiversity data of the cryptogamic organisms.  This system allows you to access and input herbarium data as well as literature material, to make these information publicly available. CRIS is being continuously fulfilled with new data.</p>
					
									<div class="buttons">
										<a href="#" class="btn-cris">What's new</a>
										<a href="#" class="btn-cris ghost-btn-cris">Tell me more</a>
									</div>
								</div>
							</section>
					<section class="sections">
						<div class="container">
							<h2>The sections of CRIS</h2>
							<p>CRIS is the on-line information system, which cataloging biodiversity data of the cryptogamic organisms. Cryptogamic Russian Information System is a convenient tool of storage, integration, visualization and analysis of biodiversity data of cyanoprokaryotes, fungus, lichens, hepatics and mosses. This system allows you to access and input herbarium data as well as literature material, to make these information publicly available. CRIS is being continuously fulfilled with new data. Once again, we are actively inviting organizations and individuals who are wiling to publish biogeographical data through CRIS, for that, please, contact following person melihen@yandex.ru. </p>

							<ul class="structure">
								<li class="structute-item">
									<h3>Mosses</h3>
									<ul class="visually-hidden">
										<li>927 species</li>
										<li>19595 herbarium samples</li>
									</ul>	
									<a class="btn visually-hidden" href="#">More</a>
								</li>
								<li class="structute-item">
									<h3>Cyanopro</h3>
									<ul class="visually-hidden">
										<li>822 species</li>
										<li>1362 samples</li>
										<li>2208 literature records</li>
									</ul>	
									<a class="btn visually-hidden" href="#">More</a>
								</li>
								<li class="structute-item">
									<h3>Fungi</h3>
									<ul class="visually-hidden">
										<li>1095 species</li>
										<li>582 herbarium samples</li>
									</ul>
									<a class="btn visually-hidden" href="#">More</a>
								</li>
								<li class="structute-item">
									<h3>Hepatics</h3>
									<ul class="visually-hidden">
										<li>962 species</li>
										<li>42693 herbarium samples</li>
									</ul>
									<a class="btn visually-hidden" href="#">More</a>
								</li>
							</ul>
						</div>
					</section>
				</main>
			</div>

			<div class="collapse news container topshift" data-parent=".cris_content">		
				<h2>News</h2>
				<p>У нас новый дизайн сайта.</p>				
			</div>

			<div class="collapse search container-fluid topshift" data-parent=".cris_content">	
				<h2>Search</h2>
				<div class="mapsearchcontainer">
					
				</div>
				<form class="form-inline">					
					<input type="checkbox" class="form-check-input" id="gendata"> 					
					<label class="form-check-label" for="exampleCheck1">Generalization</label>
					<button type="button" class="btn" id="gendataapply" style="display:none">Apply</button>
					<button type="button" class="btn" id="gendatareset" style="display:none">Reset</button>
				</form>				
				<div class="searchtab"></div>
			</div>						
			<div class="collapse groups container topshift" data-parent=".cris_content">			
				<h2>Groups</h2>
			</div>
			<div class="collapse taxonomy container topshift" data-parent=".cris_content">			
				<h2>Taxonomy</h2>
			</div>
			
			<div class="collapse musers container topshift" data-parent=".cris_content">			
				<h2>Users</h2>
			</div>
			<div id="terms" class="collapse container topshift" data-parent=".cris_content">			
				<h2>Terms</h2>
			</div>
			
			
			<div id="specimen_div" class="collapse specimens container-fluid topshift" data-parent=".cris_content">
				<h2>Specimens</h2>
			</div>
			
			<div class="collapse researchers container topshift" data-parent=".cris_content">		
				<h2>Researchers</h2>
				<div class="researchersdiv" style="position: relative;"></div>
			</div>
			
			<div class="collapse alltables container topshift" data-parent=".cris_content">		
				<h2>All tables</h2>
				<ul class="nav nav-tabs tables_control ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" id="map-tabs"></ul>
			</div>
			<div class="collapse mosses container topshift" >		
				<h2>Mosses</h2>
			</div>	
			<div class="collapse cyanopro container topshift" >		
				<h2>Cyanopro</h2>
			</div>	
			
			<div class="collapse loginform container topshift" data-parent=".cris_content">
				<h2>Login form</h2>
				<div id="login_form">
					<form action="#" method="post">
						<div id="login_form-message" class="alert alert-error invisinle"></div>
						<input type="text" id="username" placeholder="Login" required>
						<input type="password" id="password" placeholder="Password" required>
						<button type="button" id="login_submit" value="default action" class="btn btn-default">Отправить</button>
					</form>
				</div>
			</div>
			<div class="collapse reg_form container topshift" data-parent=".cris_content">
				<h2>Registration form</h2>
				<div class="alert alert-success" role="alert"></div>
				<div class="alert alert-danger" role="alert"></div>				
				<form><div id="reg_form"></div></form>
				
			</div>
			<div class="collapse recovery_form container topshift" data-parent=".cris_content">
				<h2>Password recovery</h2>				
				<div id="recovery_form">
					<form action="#" method="post">
						<div id="rec_form-message" style="display: none;" class="alert alert-success"></div>
						<div id="rec_form-message" style="display: none;" class="alert alert-error"></div>
						<input type="email" id="email" placeholder="email" required>
						<button type="button" id="recovery_submit" value="default action" class="btn btn-default">Отправить</button>
					</form>			
				</div>			
			</div>
			<div class="collapse profile container topshift" data-parent=".cris_content">		
				<h2>Profile</h2>
				<div class="alert alert-success" role="alert"></div>
				<div class="alert alert-danger" role="alert"></div>
				<form  action="#">
					<div id="profile_form"></div>
					<button type="button" id="submit" value="default action" class="btn btn-default submit">Отправить</button>
				</form>
			</div>
    </div> <!-- /container -->
	
	
<!-- Page-specific script -->
<script type="text/javascript">
	$( "#layer_tabs" ).tabs();	
	var tablist;
	$.each(['show','hide'], function(i, val) {
        var _org = $.fn[val];
        $.fn[val] = function() {
            this.trigger(val);
            _org.apply(this, arguments);
			return this;
        };
	});
	
	$('a.mapsearch').click(function(){
		$('#map').height("350px");
		$('#map').width("100%");
		setTimeout(function(){
			map.invalidateSize(true);
		}, 200);		
		
	});
	
	function menu_click(event){
			//$( '#dt_olap', $('.searchtab') ).css("display","");
			$( '#dt_fltr', $('.searchtab') ).css("display","");
			$( '#command_panel', $('.searchtab') ).css("display","None");


			href=$(event.target).attr('href');
			if(!isNaN(href)){
				var content=$('.tab'+href);
				if(content.length==0){
					var content=$('<div class="collapse  topshift '+'tab'+href+'" data-parent=".cris_content"><h2>Users1</h2></div>');
					createDataTable(href, content, undefined, function(gdataset){
						//gdataset
						$('h2', content).html(gdataset.metadata.title);
						
						
					}, {});
					$('.cris_content').append(content);

				}
				
				content.collapse('show');
				$('#mapcontainer').show();
				$('#map').height("350px");
				$('#map').width("100%");
				setTimeout(function(){
					map.invalidateSize(true);
				}, 200);		
				
			}
			else{
				$('#mapcontainer').hide();
			}
			//event.target
	}
	
	$('.mapsearch').bind('click', menu_click);
	
	
	
					
	function init_page(){	
		$('input').trigger('decimal.coordinates');
		decimalcoordinates=true;
				
		baselayers={google_satellite:false, google_roadmap:false, yandex:true, gis2: true, bing:true, osm:true, cadastr:true};
		drawMap('map',baselayers);
					//smart_i=new atlas_legend(1);					
					

		if(window.createDataTable===undefined)
			return;

		// var userDataString = $.cookie('userData') || localStorage.user || '{}';
		// var user = JSON.parse(decodeURIComponent(userDataString == 'undefined' ? '{}' : userDataString));		

		//createDataTable(2048, $('.searchtab'), undefined, undefined, {}, undefined  );
		getdatasetmeta(2188  , function(error, species_table_json){
			if(error!=null)
				return;		
		
			var sAjaxSource="/dataset/list?f=2188&count_rows=true";			
			var species = new gdataset(species_table_json, 2188, $('.searchtab'), sAjaxSource, undefined, false);
			species.drawtablehead();
			//species.mode='view';
			$('.searchtab').ThemeDT=species;
			//species.drawtablehead();
			species._fnReDraw();
			datasets.push(species);
			wmsDraw(species_table_json, species, undefined);
			
			var gendata = false;
			$('#gendata').click(function(){
				gendata=!gendata;
				if(gendata){
					$( '#dt_olap', $('.searchtab') ).css("display","");
					$('#gendataapply').show();
					$('#gendatareset').show();
				}
				else{
					$( '#dt_olap', $('.searchtab') ).css("display","None");
					$('#gendataapply').hide();
					$('#gendatareset').hide();
					$('#olapReset',$('.searchtab') ).trigger('click');
				}
			})
			
			$('#gendataapply').click(function(){				
				species.groupingdata();				
			});	
			$('#gendatareset').click(function(){				
				//$('#olapApply',$('.searchtab') ).trigger('click');
				//ThemeDT.groupingdata();
				species.olapreset();
			});
						
		});
		
		createDataTable(2044, $('.researchersdiv'), undefined, undefined, {});
		
		/*
		getdatasetmeta(2188  , function(error, species_table_json){
			if(error!=null)
				return;
			var srcontainer = $('.sr-container').empty();
			var sAjaxSource="/dataset/list?f=2188&count_rows=true";			
			var ThemeDT2 = new gdataset(species_table_json, 2188, srcontainer, sAjaxSource, undefined, false);
			srcontainer.ThemeDT=ThemeDT2;
			//ThemeDT2.add_crud_panel(srcontainer);
			//ThemeDT2.drawtablehead();
			ThemeDT2.mode='view';
			ThemeDT2._fnReDraw();
			ThemeDT2.pagination();
			
			var changeobject={};
			changeobject.changevalue = function (fieldname, value) {		
				if(value=='')
					return;
				srcontainer.empty();
				ThemeDT2.fnFilter (value+'', 'species');
				/* var srcontainer = $('.sr-container').empty();
				$.getJSON("/dataset/list?f=2188&iDisplayStart=0&iDisplayLength=1000&f_species="+value, function (data) {
					if (data.aaData.length == 0)
						return;
					//var table_json = JSON.parse(data.aaData[0].JSON);			
					for (var i = 0; i <data.aaData.length ; i++) {
						row=$('<li>'+data.aaData[i].specimen+'</li>');
						srcontainer.append(row);
					}			
				});	 */	/*
			}
			
			for(var i=0; i<species_table_json.columns.length; i++){
				if(species_table_json.columns[i].fieldname=='species'){
					var namewidget = $.widgets.get_widget(species_table_json.columns[i]);					
					namewidget.assign($('.ns-container'), '');
					namewidget.listnerlist.push(changeobject);
				}
			}
		});*/
		

			
		
		//var mgroup=$('#mgroup');
		//createDataTable(2021, mgroup, undefined, undefined, {created_by:user.id});		
		
		//createDataTable(2017, $('.taxonomy'), undefined, undefined, {created_by:user.id});		
		
		//createDataTable(2185, $('.hepatics'), undefined, undefined, {created_by:user.id});		
		
		var smart_i = new map_info(1);
		//var login_panel=L.div_Button( 'icon-map-marker fas fa-info' , 'Info' , undefined, smart_i.activate );
		var login_panel=L.div_Button( 'icon-map-marker fas fa-info' , 'Info' , $('#smart_content'), smart_i.activate );
		map.addControl(login_panel);
		
		var user=new gp_user();
		
		$('#conf').click(function(){
			$('#modal').arcticmodal()
	   })
	   

	   	if(user.isAdmin){
			$('.users-btn').show();
	   	}
	   	else{
			$('.users-btn').hide();
	   	}
	    if(user.id){
			$('.login-btn').hide();
			$('.reg-btn').hide();
			$('.logout-btn').show();
			$('.recovery-btn').hide();
			$('.users-profile').show();
	    }
	    else{
			$('.login-btn').show();
			$('.logout-btn').hide();
			$('.recovery-btn').show();
			$('.users-profile').hide();			
	    }
	   
	   
		user.loginform($('#login_form'), function(){
			$('#login_form').hide();
			$('.login-btn').hide();
			$('.reg-btn').hide();
			$('.recovery-btn').hide();
			
			$('.users-profile').show();
			$('.logout-btn').show();
			$('.users-btn').show();
			$('.loginform').append($('<div class="alert alert-success" role="alert">  You have successfully logged in! </div>'));
			user.profile($('.profile'), $('#profile_form'));
			update_user_menu();
		});

		user.recovery_password($('#recovery_form'));			
	    $('#login-link').click(function(){
			if(user.id){
				$('#register_user').html(t('profile'));
			}
			if($('.login-btn').html()=='logout'){
				
			}
			else{
				$('#link__form').arcticmodal()
			}
		});

		user.profile($('.profile'), $('#profile_form'));
	   
		user.register($('.reg_form'), $('#reg_form'));

	   	$('#register_user').click(function(){
			$('#login_form').hide();
			$('#recovery_form').hide();
			$('#reg_form').show();
						
	   	})
	   	$('#recovery_user').click(function(){
			$('#login_form').hide();
			$('#recovery_form').show();
			$('#reg_form').hide();				
	   	})
	   	$('#login_user').click(function(){
			$('#login_form').show();
			$('#recovery_form').hide();
			$('#reg_form').hide();			
	   	})
		

	   
		var musers=$('.musers');
		createDataTable(5, musers, undefined, undefined, {});		
		
		var alltables=$('.alltables');
		createDataTable(100, alltables, undefined, undefined, {});	

		createDataTable(2182, $('.mosses'), undefined, undefined, {});		
		createDataTable(2183, $('.cyanopro'), undefined, undefined, {});		
		
		update_user_menu();


	}
	
	function update_user_menu(){
		var cristaxonomy=$('.cristaxonomy');
		$('.dynamically').remove();
		$.getJSON("/dataset/list?f=100&iDisplayStart=0&iDisplayLength=100&s_fields=name,id&f_description=cristaxonomy", function(data) {			
			if(data.aaData.length==0)
				return;
			for(var i=-0; i<data.aaData.length; i++){
				var item=$('<a class="dropdown-item" data-parent=".cris_content" data-toggle="collapse" role="button"  href="'+data.aaData[i].id+'">'+data.aaData[i].name+'</a>');				
				cristaxonomy.append(item);
				item.bind('click', menu_click);
			}
		});
		
		
		var crisspecimen=$('.crisspecimen');
		$.getJSON("/dataset/list?f=100&iDisplayStart=0&iDisplayLength=100&s_fields=name,id&f_description=crisspecimen", function(data) {			
			if(data.aaData.length==0){
				$('#specimens').hide();
				return;
			}
			$('#specimens').show();

			
			for(var i=-0; i<data.aaData.length; i++){
				if($("a.crisspecimenlink[href='"+data.aaData[i].id+"']").length>0)
					continue;
				var item=$('<a class="dropdown-item crisspecimenlink" data-parent=".cris_content" data-toggle="collapse" role="button" href="'+data.aaData[i].id+'">'+data.aaData[i].name+'</a>');
				crisspecimen.append(item);
				item.bind('click', menu_click);
			}
		});
		crisspecimen.collapse({
		toggle: false
		})
	}

	init_page();
</script>



	<footer class="main-footer">
		<div class="container">
			<p class="copyright">2018 / Все права защищены</p>
			<p class="copyright" id="conf" >Политика конфиденциальности	</p>
			<p class="creators">Designed by <a href="http://borodulinv.ru" target="_blank">Xaaser2006</a></p>
		</div>
	</footer>

	<div style="display: none;">
	    <div class="box-modal" id="modal">
	        <div class="box-modal_close arcticmodal-close">закрыть</div>
	        <h5>Соглашение о конфиденциальности</h5>
	        <hr>
	        Данное соглашение об обработке персональных данных разработано в соответствии с законодательством  Российской Федерации. Все лица заполнившие сведения составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных. Под персональными данными Гражданина понимается нижеуказанная информация: Имя, адрес электронной почты, номер мобильного телефона. Граждане направляют свои персональные данные оператору в целях предоставления последним услуги по созданию сайта. Гражданин, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение. Гражданин гарантирует: информация, им предоставленная, является полной, точной и достоверной; при предоставлении информации не нарушается действующее законодательство Российской Федерации, законные права и интересы третьих лиц; вся предоставленная информация заполнена Гражданина в отношении себя лично.
	        <hr>
	    </div>
	</div>

	
	<div style="display: none;" id="smart_content">
		<div id="smart_content_body"></div>
			
	</div>
			  
	</body>
</html>
