.ui-dialog { z-index: 1002 !important ;}

.rastermapconteiner{
    height: 80%;
    position: absolute;
	padding: 20px;
}
	
.rmain{
	width: 100%;
	height: 100%;
}

.maplist{	
	min-width: 250px;
	max-width: 350px;
	max-height: 90%;
    overflow-y: auto;
}


.maplist #command_panel{
	display:none;	
}


.maplist .pagination{
	display:none;
}


.maplist table.fixedrow tr td > div {
	overflow:  initial;
	max-height: initial;
}

.maplist table tr td {
	border-top: 0px solid #dddddd;;
}


.maplist table th{
	display:none;	
}