#user-login {
  background: #eee;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 30px;
  align: left;
  display: none;
  border: 1px solid #aaa;
  width: 220px;
  z-index: 1;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 1px white, 0 1px 5px #888888;
  -moz-box-shadow: inset 0 0 1px white, 0 1px 5px #888888;
  box-shadow: inset 0 0 1px white, 0 1px 5px #888888;
}
/* line 268, ../sass/style.scss */
#user-login .form-item {
  clear: both;
  margin: 10px 0;
  overflow: hidden;
}
/* line 274, ../sass/style.scss */
#user-login label {
  width: 30%;
  float: left;
}

/* line 281, ../sass/style.scss */
#user-welcome-or-login h2 {
  display: none;
}

/* line 284, ../sass/style.scss */
#user-welcome-or-login input {
  float: right;
  width: 60%;
}

/* line 288, ../sass/style.scss */
#user-welcome-or-login .form-field {
  margin: 0 0 2px;
}

/* line 291, ../sass/style.scss */
#user-welcome-or-login .actions {
  border-top: 1px solid #d9d9d9;
  padding: 10px 0 0;
}

/* line 295, ../sass/style.scss */
#user-welcome-or-login .actions a {
  display: none;
}

/* line 298, ../sass/style.scss */
#user-welcome-or-login input[type="submit"] {
  width: auto;
  margin: 0;
}

/* line 304, ../sass/style.scss */
#user-login:before,
#user-login:after {
  content: "";
  position: absolute;
  z-index: 998;
  top: -8px;
  right: 78px;
  margin-left: -8px;
  border-top: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #eee;
}

/* line 317, ../sass/style.scss */
#user-login:after {
  border-bottom: 9px solid #ccc;
  top: -9px;
  z-index: 997;
}
