
#mapcontainer {
	width: 600px;
	height: 400px;
}
#map {
	width: 600px;
	height: 400px;
}

@media (min-width: 980px) {
	body{
	padding-top: 60px;
	}
}
.logo{
	width: 30px;
    height: 30px;
	margin-right: 20px;
}
.logogbif{
	width: 130px;
    height: 130px;	
}
.detailstab td{
	font-size: 14px;    
}
td label{
	font-weight: bold;
}

.header {
	background-image: url(/img/img22.jpg);
	background-color: rgba(0, 0, 0, 0.3);
	background-blend-mode: darken;
	background-size: cover;
	background-position: 0% 80%; 
	padding: 30px;
}
.header__conf-type {
	margin-top: 150px;
	font-size: 18px;
	color: white;
}
.header__title {
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 60px;
	margin-top: 16px;
	color: white;
}
.header__date {
	margin-top: 12px;
	font-size: 18px;
	display: inline-block;
	background-color:#333333;
	padding: 3px;
	color: white;
}

@media (max-width: 979px) {
	.header__title {
		font-size: 22px;
		line-height: 22px;
		margin-top: 16px;
		color: white;
	}
	.header__conf-type {
		margin-top: 15px;
	}
}
		
@media (max-width: 979px) and (min-width: 768px){
	.row-fluid .span9.width100 {
		width: 100%;
		margin-left: 0;
	}
}

.brand {
    width: 80%;
}


.widestring div{
	width: 100%;
}

.widestring input, textarea, select{
	width: 100%;
}


body {
	font-family:Tahoma, Arial, sans-serif;	
	//padding-top: 105px;
	padding-bottom: 40px;  	
}
p{
	font-size: 16px;
}
.navbar-inverse .navbar-inner {
background: rgb(27, 127, 6); 
background: -webkit-radial-gradient(bottom,rgb(27, 127, 6),rgb(20, 21, 20)); 
background: -o-radial-gradient(bottom,rgb(27, 127, 6),rgb(20, 21, 20)); 
background: -moz-radial-gradient(bottom,rgb(27, 127, 6),rgb(20, 21, 20));
background: radial-gradient(to top, rgb(27, 127, 6), rgb(20, 21, 20)); 
}
.brand div {
	text-transform: uppercase;
	color: white;
	padding-top: 5px;
	font-size: 1.1em;
}
.navbar .nav {
	float:right;
}
ul.nav {
	padding-top: 10px;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color:transparent;
}
.navbar .nav > li > a {
padding:0;	
margin-left:3px;
}
div.rec {
  margin: 0 0 20px 0;
  background-image: url('/img/img22.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 45vh;
  text-align: center;
  min-width:300px;
}
.image-caption {
  transform: translate(-50%, -50%);
  position: absolute; 
  top: 50%; 
  left: 50%;
  padding: 15px 20px;
  background: rgba(255,255,255,.6);
}
h2.category {
  position: relative;
  padding: 0 35px;
  display: inline-block;
  letter-spacing: 2px;
    text-transform: uppercase;
	  font-weight: bold;
	  font-size:20px;
	   margin: 0 .3em;
	     line-height: 1.25; 
}
.post-title {margin-bottom: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: .05em;
    font-weight: normal;
    line-height: 1.35;
}
span.post-title {
margin-bottom:0;
 font-size: 14px;
}
.hero-unit  h1 {
    font-size: 31.5px;
	line-height: 1.2;
	margin-bottom: 20px; 
	text-align:center;
}
.container-fluid h2 {
	margin-bottom: 20px; 
	text-align:right;
	font-size: 20px;
	text-transform: uppercase;	
	padding: 0 20px 0 0;
	color:#19610a;
	  font-weight: normal;
	  border-bottom: 1px solid #CCCCCC;
border-right: 1px solid #CCCCCC;
}
.rec  h2 {
color:#333333;
	padding: 0;
	text-align:center;
background:transparent;
border:none;
}
.container-fluid .hero-unit {
padding:0 60px 60px 60px;
background:#ffffff;
border: 2px solid #eeeeee; 
}
 .container-fluid p, .span9 ul  {
 text-align:justify;
     text-indent: 2em;
	   color: #616161;
  line-height: 190%;
  margin-bottom: 10px;
  letter-spacing:1px;	 
 }
  .container-fluid ul {
   text-align:justify;
  } 
  .container-fluid li {
      margin-bottom: 15px;
  }   
  footer {
    background: #19610A;
    background: radial-gradient(at top, rgb(27, 127, 6),rgb(20, 21, 20));
    color: #ffffff;
    text-align: center;
    padding: 1px;
}
.nav-list .nav-header {
	display:none;
}
.nav-list h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color:  #424949;
}
.nav-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 250px;
}
.nav-list li {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.nav-list li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.nav-list a {
  text-decoration: none;
//  color:  #616a6b;
  display: inline-block;
}
.goals ul, .sections ul  {
    list-style: none;
}
.goals ul  > li, .sections ul  > li{
    position: relative;
}
.nav-list li:before, .goals ul  > li:before, .sections ul > li:before {
  font-family: FontAwesome;
  font-size: 22px;
  color:#19610A; 
  margin-right: 5px;
     display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}
.nav-list li a {
	display: inline-block;
}
.confhome:before {content:"\f015";}
.confgoals:before {content:"\f140";}
.confsection:before {content:"\f03a";}
.confdate:before {content:"\f073 ";}
.confreg:before {content:"\f115";}
.confprogramm:before {content:"\f0c9";}
.conforg:before {content:"\f0c9";}
.confints:before {content:"\f19c";}
.confaccommodation:before {content:"\f0fd";} 
.conffee:before {content:"\f09d";} 
.confcultura:before {content:"\f03a";}


.nav-list li:nth-child(70):before {content:"\f0fd";}
.nav-list li:nth-child(80):before {content:"\f041";} 
.nav-list li:nth-child(90):before {content:"\f0ea";}
.confcontact:before {content:"\f003";} 
.confcontact2:before {content:"\f09d";} 

.goals ul  > li:before{
  margin-right: 4px; content:"\f00c";
}
.sections ul  > li:before{
  margin-right: 4px; content:"\f00c";
}
.mnu > a, .nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    color: #19610A;
    text-shadow:none;
    background:transparent;
}
.nav-list > li > a {
	padding:3px;
	margin:0;
}
a, a:hover, a:focus {
    color: #19610a;
  }
  
 .txtcenter{
    text-align: center;
}