.g_layer{	
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding-bottom: 4px;
	width: 100%;
    padding: 10px;
	border: 1px dashed;
    border-radius: 3px;
}

.sign_div{
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    width: 86px;
    height: 52px;
}

.symbolyzer{
	width: 18rem;
	margin: 5px;
}

.g_layer_content{	
    overflow: auto;	
	padding: 10px;
}
.g_active_layer{	
	border:1px solid;	
}

.wizard_list{
	height: 450px;
}
.field_classify{
	width: 850px;
}

@font-face {
	font-family: 'MapInfoSymbols';
	src: url('/TTMIOS__.TTF');
}

.ui-widget select.mapinfo,
.mapinfo {
	 font-family: 'MapInfoSymbols';
	 font-size: 26pt;
}  

.ui-widget select.mapinfo {
	font-size: 16pt;
}
.class_item{
	display:inline-block;
	vertical-align:middle;
}
.mapdetails{
	display: none;
}




#comp_sign{
	width: 80px;
	padding-top: 10px;
}


.class_mark{
	display: inline-block;
    vertical-align: middle;
	max-width: 165px;
    margin-left: 5px;	
}


.canvas_div{
	min-height: inherit;
    width: 80px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;	
}


.use_sign{
	display:none;
}

.inline_props{
	width:340px;
	float:left;
}
.label_props{
	width:38px;
	float:left;
}


.sign_container{
	float:left;
	width:60px;
	height:60px;
	padding-top: 5px;	
}

.sign_layer{
	//list-style: none;
	padding: 5px;
}


.style_options{
	display: none;
}

.g_active_style{
	visibility:visible;
	display: block;	
}
.sred{
	background-color:#b0c4de;
	width:30;
	height:30;
}

.g_layer_active{
	background: #CCC;
}

.sld_rule{
	padding: 10px;
    margin: 2px;
	padding-right: 27px;
	height: 115px;
}
.sld_rule_head{
	float: left;	
}