table{
	color:black;
}
.ddd{
	background: white;
}
form{
	color:black;
}
.table .fixed_th {
	/* border-left: 1px solid #aaaaaa;
    background-color: #eeeeee;
	min-width: 20px ;
	background-image: url(/img/bg.gif); */
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	vertical-align: middle;		
	padding-right: 20px ;
	
}


.geos_row_selected{
	background-color: #9999AA;
}

.fltr_geom{
	min-width: 150px;
}

.fltr_date{
	min-width: 287px;	
}
.btnretweet{
	padding-left: 0px;
	padding-right:0px;	
}
.fltr_date > div{
	padding-left: 3px;
	padding-right:3px;
}

.fltr_date_div > input{
	padding-left: 3px;
	padding-right:3px;
}
.dt_th{
	vertical-align: top ;
	min-width: 150px;
}

.headSortUp {
	background-image: url(/img/asc.gif);
}

.headSortDown {
	background-image: url(/img/desc.gif);
}

.action_th {
    border-left: 1px solid #aaaaaa;
    background-color: #eeeeee;
    vertical-align: top;    
    padding-right: 20px;
    min-width: 20px;
}


.table_info{
    margin-left: 20px;
}
