</head>
<body>
<!-- Page-specific styles -->
<link href="/css/geothemes-managejson.css" rel="stylesheet" type="text/css" />

<div id="actionresult" class="alert alert-success" role="alert">
    
  </div>
<ul class="main-menu nav nav-tabs"> 
		<li class="nav-item active"> 
			<a class="nav-link active" id="tablesave" href="#" role="button">Save</a> 
		</li>
		<li class="nav-item"> 
				<a class="nav-link active" id="tableplay" href="#" role="button">View data</a> 
		</li> 
		<li class="nav-item"> 
				<a class="nav-link active" id="mapplay" href="#" role="button">View maps</a> 
		</li> 
		<li class="nav-item"> 
				<a class="nav-link active" id="cleartable" href="#" role="button">Delete all data</a> 
		</li> 		
		<li class="nav-item"> 
				<a class="nav-link active" id="droptable" href="#" role="button">Drop</a> 
		</li> 		
	</ul>


<div class="" id="table_form">

<div id="tabs">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" href="#tabs-1">General</a></li>
    <li class="nav-item"><a class="nav-link" href="#tabs-2">Fields</a></li>
    <li class="nav-item"><a class="nav-link" href="#tabs-3">Form template</a></li>
		<li class="nav-item"><a class="nav-link" href="#tabs-4">Print templates</a></li>
		<li class="nav-item"><a class="nav-link" href="#tabs-5">View templates</a></li>
  </ul>
  <div id="tabs-1">
    
	<div id="general_info_container"></div>	
	<h5>Access management</h5>
	<div id="access_mode_container"></div>
  </div>
  <div id="tabs-2">    
	<div id="buttons" class="" style="margin-bottom: 10px;">
		<button type="button" class="btn" id="tablecreatefield">Add field</button>	
		<button type="button" class="btn" id="loadfilestructure"> Load structure from file</button>
		<button type="button" class="btn" id="loadtablestructure"> Load fields from local table</button>
		<button type="button" class="btn" id="importtable"> Import table</button>
	</div>
	<div id="fields_container"></div>
  </div>
  <div id="tabs-3">Form template
		<div class="form-group">
			<TEXTAREA name='form_template' id='form_template' placeholder='Type the form template' style='width: 150px; height: 50px;'/></TEXTAREA>
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Link to add</label>
			<input type="text" class="form-control" id="addlink"  placeholder="Enter specific add link">
		</div>
		<div class="form-group">
				<label for="exampleInputEmail1">Link to edit</label>
				<input type="text" class="form-control" id="editlink"  placeholder="Enter specific add link">
			</div>
	</div>
  
  <div id="tabs-4">
    <div id='print_templates'><button type='button' class='submit btn' id='templateadd'><i class="fas fa-plus"></i></button></div>
  </div>

  <div id="tabs-5">
			<div class="form-group">
					<label for="view_template">View template</label>
					<TEXTAREA id='view_template' placeholder='Type the view template' class="form-control"></TEXTAREA>
			</div>
  </div>
  
</div>
	
</div>

<!-- Page-specific script -->

<script  src="/js/geothemes/geothemes.js"></script>
<!-- <script  src="/js/geothemes/geothemes_accessmode.js"></script> -->
<script  src="/js/geothemes/tinymce/tinymce.min.js"></script>


<script type="text/javascript">
/*
	Globals
*/
var id, schema, tablename,ontology_table;

function init_page(){	
		
		id        = getQueryVariable('id');
		schema    = getQueryVariable('schema');
		tablename = getQueryVariable('tablename');
		

		if (id !='') {
			if(isNaN(id))
				url="/dataset/list?f=100&iDisplayStart=0&iDisplayLength=100&s_fields=JSON&f_guid="+id;
			else
				url="/dataset/list?f=100&iDisplayStart=0&iDisplayLength=100&s_fields=JSON&f_id="+id;
			$.getJSON(url,{ ajax: 'true'}, function(data){
				var table_json    = JSON.parse(data.aaData[0].JSON);			
				frm = createform(table_json, id);
				$("#mj_container_general").empty().append(frm);	
				$('#fade_overlay').remove();
			});

		} 
		
		else {
			frm = createform(null);
			$("#mj_container_general").empty().append(frm);
			$('#fade_overlay').remove();
		}
	
}

$( document ).ready(function() {
    init_page();
});

</script>