<h2 id="main_header">Create method</h2>
<p>Using this interface, you can register any <strong>WPS service</strong> or create <strong>JavaScript method</strong>, which can contain any already registered methods.<br>All required instruction concerning method creation will popup along the creation process.</p>
<!-- Showing errors -->
<div id="error_container" style="color: red;"></div>
<div id="name_wrapper">
	<p>
		Method name <a href="#" data-toggle="tooltip" title="Name of the method, used in the system">(?)</a>
		<br>
		<input id="name" placeholder="My method" type="text">
	</p>
</div>
<br>
<div id="description_wrapper">
	<p>
		Method description <a href="#" data-toggle="tooltip" title="Describe the common goal and function of the method">(?)</a>
		<br>
		<textarea id="description" placeholder="Method is intended to calculate average number of.." style="height: 50px; width: 100%;"></textarea>
	</p>
</div>
<div id="type_wrapper">
	<p>
		Method type <a href="#" data-toggle="tooltip" title="WPS service - register remote WPS service, so it can be used in other methods or by itself. JavaScript method - write actual code of the future method, using already available methods in the system">(?)</a>
		<br>
		<select id="type">
			<option value="none">- choose the type -</option>
			<option value="wps">WPS service</option>
			<option value="js">JavaScript method</option>
		</select>
	</p>
</div>
<!-- WPS fields -->
<div id="host_wrapper" style="display: none;">
	<p>Enter the connection credentials of remote WPS service  <button type="button" class="btn btn-small" id="addthewpsserverbutton" title="Add the server"><i class="fas fa-plus"></i></button><button type="button" class="btn btn-small" id="get_remote_methods">Get the list of available methods</button></p>
	<form class="form form-horizontal" id="wpsserversettings">
		
	</div>
</div>
<div id="method_wrapper" style="display: none;">
	<p>
		<!-- Insert methods select control here -->
		<div id="method_select_wrapper"></div>
	</p>
</div>

<!-- MapReduce specification wrapper -->
<div id="specifications_wrapper">
  <label>MapReduce specification (leave blank if MapReduce should not be used)</label>
  <textarea style="width: 100%;"></textarea>
  <p class="alert js-error" style="display: none;">Provided specification is not a valid JSON string</p>
</div>

<div id="wps_params_status" style="display: none;">
	<hr>
	<div class="form-field">
		<label style="float: left;">Does service take more than 1 minute to complete?  </label>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="checkbox" name="longprocess" />
		<input type="hidden" value="false" id="longprocess_allowed" name="longprocess_allowed"/>
	</div>
	<hr>
</div>
<div id="parameters_section" style="display: none;">
	<h3>Input parameters</h3>
	<div id="input_params_buttons" class="text-right" style="height: 50px;"></div>
	<div id="input_params_container"></div>
	<hr>
	<h3>Output parameters</h3>
	<div id="output_params_buttons" class="text-right"></div>
	<div id="output_params_container"></div>
</div>

<!-- Building parameters from here -->
<div id="form_wrapper"></div>
<!-- JS fields -->
<div id="jsfunc_wrapper" style="display: none;">
	<br>
	<div>
		<span class="label label-important">IMPORTANT</span> Before filling the function body, define input parameters<br>
		<span class="label label-important">IMPORTANT</span> Input values are provided in the <strong>input</strong> object. For example, values of input parameters "a" and "b" will be available as <strong>input.a</strong> and <strong>input.b</strong>. When it comes to returning output, for example, we got an output field with the name "result", its value has to be set through the <strong>mapping</strong> object in following way: <strong>mapping.output.set(VALUE)</strong>.<br/>
	</div>
  <div class="create-service__service-list-container js-service-list-container">
  
  </div>
	<br>
	<div id="generatejs_wrapper">
		Press <button class="btn btn-success btn-mini" type="button" id="generatejs">Generate wrapper</button> to construct function wrapper based on entered parameters
	</div>
	
<pre id="jsfunc" name="jsfunc" class="create-service__function-body-field" placeholder="For function body editing define parameters in the menu above">function foo(items) {
    var i;
    for (i = 0; i &lt; items.length; i++) {
        alert("Ace Rocks " + items[i]);
    }
}</pre>
	
	<!-- Prettify snippets-->
	
</div>
<!-- Submit button -->
<div id="submit_container" style="display: none;">
	<div class="btn-group">
    <button type="button" class="btn js-save-and-exit">Save and exit</button>
    <button type="button" class="btn js-save">Save</button>
  </div>
</div>
<br>

<div id="service_container"></div>

<!-- Page-specific script -->

