<?xml version="1.0" encoding="utf-8"?>
<wps:ExecuteResponse xmlns:wps="http://www.opengis.net/wps/1.0.0" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/wps/1.0.0 http://schemas.opengis.net/wps/1.0.0/wpsExecute_response.xsd" service="WPS" version="1.0.0" xml:lang="en-US" serviceInstance="http://84.237.16.41:8800">
  <wps:Process wps:processVersion="1">
    <ows:Identifier><%= service.identifier %></ows:Identifier>
    <ows:Title><%= service.title %></ows:Title>
    <ows:Abstract><%= service.description %></ows:Abstract>
  </wps:Process>
  <wps:Status creationTime="2015-04-16T07:31:38Z">
    <wps:ProcessSucceeded>Service "vector2grid" run successfully.</wps:ProcessSucceeded>
  </wps:Status>
  <wps:ProcessOutputs>
	<% for (var i = 0; i < output.length; i++) {  %>
    <wps:Output>
      <ows:Identifier><%= output[i].identifier %></ows:Identifier>
      <ows:Title><%= output[i].identifier %></ows:Title>
      <ows:Abstract><%= output[i].description %></ows:Abstract>
      <wps:Data>
        <wps:LiteralData><%= output[i].value %></wps:LiteralData>
      </wps:Data>
    </wps:Output>
	<% } %>
  </wps:ProcessOutputs>
</wps:ExecuteResponse>
