.td_head{
	text-align: center;
	min-width:80px;
}

.td_body{
	text-align: center;
	min-width:80px;
	vertical-align: top;
}
.small_tab_field_label{
	display:initial;
	padding-right: 10px;
	float:left;
	padding-left: 10px;
}

.tab_field_label{
	display:initial;
	padding-right: 10px;
	float:left;
	padding-left: 10px;
}

.small_tab_field_input{
	width:60px;
	float:left;
}

.tab_field_input{
	width:140px;
//	float:right;
}

.tab_field_select{
   width: 150px;
}

.fieldcontainer{
	//width:1000px;
}
 
.tab_field {
	clear:both;
	text-align:right;
}

.fade_overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color:rgba(0, 0, 0, 0.4);
	z-index: 9990;
}

.bar_container {
	width: 200px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -100px;
}